<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository/>
    <interactiveMode/>
    <offline/>
    <pluginGroups/>
    <servers>
        <server>
            <id>maven-snapshots</id>
            <username>changeme</username>
            <password>changeme</password>
        </server>
        <server>
            <id>maven-releases</id>
            <username>changeme</username>
            <password>changeme</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>maven-public</id>
            <mirrorOf>*</mirrorOf>
            <url>https://srvlci01.ad.airc.pt/nexus/repository/maven-public/</url>
        </mirror>
    </mirrors>
    <proxies/>
    <profiles>
        <profile>
            <id>default</id>
            <repositories>
                <repository>
                    <id>maven-public</id>
                    <name>Maven Public</name>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <url>https://srvlci01.ad.airc.pt/nexus/repository/maven-public/</url>
                    <layout>default</layout>
                </repository>
                <repository>
                    <id>maven-releases</id>
                    <name>Maven Releases</name>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <url>https://srvlci01.ad.airc.pt/nexus/repository/maven-releases/</url>
                    <layout>default</layout>
                </repository>
                <repository>
                    <id>maven-snapshots</id>
                    <name>Maven Snapshots</name>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <url>https://srvlci01.ad.airc.pt/nexus/repository/maven-snapshots/</url>
                    <layout>default</layout>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>default</activeProfile>
    </activeProfiles>
</settings>